<h1 class="center">{{ story.title }}</h1>
<h2>by {{ story.author }}</h2>

<div ng-repeat="page in breadcrumb_trail" class="row">
  <div class="span8 offset2 page">
    {{ page.text }}
  </div>
  <div class="span2">
    <ul class="actions">
      <li><a ng-click="mix(page)"><span class="entypo">&#8627;</span> mix this</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <ul class="children_pages">
    	<li ng-repeat="child_page in current_page_children">
    		<a ng-click="push_child(child_page)">{{ child_page.teaser() }}</a>
    	</li>
    </ul>
    <a class="btn right"><span class="entypo">&#8627;</span> mix this</a></a>
  </div>
</div>
