<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <header id="nav" ng-controller="RootCtrl">
      <div class="container">
        <div class="masthead row">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="brand" ui-route="/home"><a href="#/"><img src="assets/logo.png"/></a></li>
                    {{authenticationService.is_signed_in}}
                    <li ui-route="/story/" ng-show="authenticationService.is_signed_in()">
                      <a href="#/story/">
                        <span class="entypo">&#128213;</span>
                        Create
                      </a>
                    </li>
                    <li ui-route="/logout" ng-show="authenticationService.is_signed_in()">
                      <a href="#/logout">
                        <span class="entypo">&#59201;</span>
                        Logout
                      </a>
                    </li>
                    <li ui-route="/login" ng-hide="authenticationService.is_signed_in()">
                      <a href="#/login">
                        <span class="entypo">&#59200;</span>
                        Login
                      </a>
                    </li>
                    <li ui-route="/register" ng-hide="authenticationService.is_signed_in()">
                      <a href="#/register">
                        <span class="entypo">&#59136;</span>
                        Register
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </header>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          
        </div>
      </div>
    </footer>
  </body>
</html>
